* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.holder {
	max-width: 960px;
	width: 90%;
	min-width: 320px;
	margin: 0 auto;
}
.wide_holder {
	max-width: 1201px;
}
.clearfix:after {
	content: "";
	height: 0;
	clear: both;
	display: block;
}
.input, .textarea {
    padding: 0.9em 0.9em 1.2em;
    display: inline-block;
    font-size: 0.7em;
    width: 100%;
    border: 1px solid #d6d5d3;
    border-radius: 3px;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), 0 0 3px rgba(255, 255, 255, 0.15), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
    background: -moz-linear-gradient(top,  rgba(251,252,253,1) 0%, rgba(244,243,243,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(251,252,253,1) 0%,rgba(244,243,243,1) 100%);
    background: linear-gradient(to bottom,  rgba(251,252,253,1) 0%,rgba(244,243,243,1) 100%);
}
.form_row {
    display: inline-block;
    margin-bottom: 14px;
}
.form_label {
    display: block;
    font-size: 0.88em;
    margin: 0 0 7px;
}
.input_holder {
    position: relative;
}
.form_error {
    display: none;
}
.form_btn {
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    padding: 0.55em 1.6em 0.7em;
    font-size: 0.88em;
    font-weight: 600;
}
.form_btn.grean {
    color: #1e7465;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    background-image: -moz-linear-gradient(top,  rgba(128,232,203,1) 0%, rgba(67,183,150,1) 100%), -moz-linear-gradient(top,  rgba(106,219,188,1) 0%, rgba(68,172,143,1) 51%, rgba(51,161,130,1) 100%);
    background-image: -webkit-linear-gradient(top,  rgba(128,232,203,1) 0%,rgba(67,183,150,1) 100%), -webkit-linear-gradient(top,  rgba(106,219,188,1) 0%,rgba(68,172,143,1) 51%,rgba(51,161,130,1) 100%);
    background-image: linear-gradient(to bottom,  rgba(128,232,203,1) 0%,rgba(67,183,150,1) 100%), linear-gradient(to bottom,  rgba(106,219,188,1) 0%,rgba(68,172,143,1) 51%,rgba(51,161,130,1) 100%);
}
.form_btn.grean:hover {
    color: #467366;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    background-image: -moz-linear-gradient(top,  rgba(144,219,189,1) 0%, rgba(101,159,135,1) 100%), -moz-linear-gradient(top,  rgba(136,209,179,1) 1%, rgba(93,152,126,1) 100%);
    background-image: -webkit-linear-gradient(top,  rgba(144,219,189,1) 0%,rgba(101,159,135,1) 100%), -webkit-linear-gradient(top,  rgba(136,209,179,1) 1%,rgba(93,152,126,1) 100%);
    background-image: linear-gradient(to bottom,  rgba(144,219,189,1) 0%,rgba(101,159,135,1) 100%), linear-gradient(to bottom,  rgba(136,209,179,1) 1%,rgba(93,152,126,1) 100%);
}
.form_btn.grean:focus {
    color: #eeedec;
    outline: none;
    text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
    box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    background-image: -moz-linear-gradient(top,  rgba(121,187,160,1) 0%, rgba(73,117,99,1) 100%), -moz-linear-gradient(top,  rgba(136,209,179,1) 0%, rgba(93,152,126,1) 100%);
    background-image: -webkit-linear-gradient(top,  rgba(121,187,160,1) 0%,rgba(73,117,99,1) 100%), -webkit-linear-gradient(top,  rgba(136,209,179,1) 0%,rgba(93,152,126,1) 100%);
    background-image: linear-gradient(to bottom,  rgba(121,187,160,1) 0%,rgba(73,117,99,1) 100%), linear-gradient(to bottom,  rgba(136,209,179,1) 0%,rgba(93,152,126,1) 100%);
}
.form_btn.white {
    padding: 0.55em 1.8em 0.7em;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.07), inset 0 0 3px 0 #f6f7f7, inset 0px -2px 3px 0px rgba(45, 45, 45, 0.05);
    background-image: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(251,249,249,1) 6%, rgba(233,230,228,1) 100%),  -moz-linear-gradient(top,  rgba(210,210,210,1) 0%, rgba(182,182,182,1) 51%, rgba(197,197,197,1) 100%);
    background-image: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(251,249,249,1) 6%,rgba(233,230,228,1) 100%),  -webkit-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
    background-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(251,249,249,1) 6%,rgba(233,230,228,1) 100%),  linear-gradient(to bottom,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
}
.form_btn.white:hover {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    background-image: -moz-linear-gradient(top,  rgba(232,231,231,1) 0%, rgba(227,225,225,1) 13%, rgba(194,192,192,1) 100%), -moz-linear-gradient(top,  rgba(210,210,210,1) 0%, rgba(182,182,182,1) 51%, rgba(197,197,197,1) 100%);
    background-image: -webkit-linear-gradient(top,  rgba(232,231,231,1) 0%,rgba(227,225,225,1) 13%,rgba(194,192,192,1) 100%), -webkit-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
    background-image: linear-gradient(to bottom,  rgba(232,231,231,1) 0%,rgba(227,225,225,1) 13%,rgba(194,192,192,1) 100%), linear-gradient(to bottom,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
    box-shadow: inset 0 0 3px rgba(202,202,202,0.62), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}
.form_btn.white:focus {
    color: #eeedec;
    text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    outline: none;
    background-image: -moz-linear-gradient(top,  rgba(169,168,168,1) 0%, rgba(123,120,120,1) 100%), -moz-linear-gradient(top,  rgba(156,156,156,1) 0%, rgba(109,109,109,1) 43%, rgba(99,99,99,1) 100%);
    background-image: -webkit-linear-gradient(top,  rgba(169,168,168,1) 0%,rgba(123,120,120,1) 100%), -webkit-linear-gradient(top,  rgba(156,156,156,1) 0%,rgba(109,109,109,1) 43%,rgba(99,99,99,1) 100%);
    background-image: linear-gradient(to bottom,  rgba(169,168,168,1) 0%,rgba(123,120,120,1) 100%), linear-gradient(to bottom,  rgba(156,156,156,1) 0%,rgba(109,109,109,1) 43%,rgba(99,99,99,1) 100%);
}
.icon {
    background-image: url(../image/icon.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-email {
    width: 17px;
    height: 13px;
    background-position: -100px -5px;
}

.icon-email-2 {
    width: 23px;
    height: 17px;
    background-position: -127px -5px;
}

.icon-key {
    width: 22px;
    height: 20px;
    background-position: -373px -5px;
}
.icon-skype {
    width: 20px;
    height: 20px;
    background-position: -466px -5px;
}

.icon-telephone {
    width: 17px;
    height: 22px;
    background-position: -496px -5px;
}

