@import "base.css";

html, body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #727070;
}
.page {
	background: url(../image/body-bg.jpg) no-repeat;
	background-size: cover;
	min-height: 100%;
	height: auto;
	padding-bottom: 60px;
	margin-bottom: -60px;
}
.header {
	background: #727070 url(../image/bg-header.png) repeat;
	width: 100%;
	height: 97px;
	border-bottom: 7px solid #fff;
	box-shadow: 0px 0px 0 2px rgba(0,0,0,0.1);
}
.header .holder{
    padding: 10px 0 0 10px;
}
.header .logo {
	float: left;
}
.logo {
	width: 95px;
	height: 71px;
	display: block;
}
.header .social {
	float: right;
	margin: 17px 0;
}
.social {
    list-style: none;
}
.social_item {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 11px;
}
.social_item:first-child {
	margin-left: 0;
}
.social_link {
	position: relative;
	display: block;
	border-radius: 50%;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	width: 36px;
	height: 36px;
}
.social_link .icon {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
}
.social_link .icon-facebook {
    width: 10px;
    height: 22px;
    background-position: -160px -5px;
}
.social_link.facebook:hover .icon-facebook{
    background-position: -180px -5px;
}
.social_link .icon-vk {
    width: 15px;
    height: 19px;
    background-position: -625px -5px;
}
.social_link.vk:hover .icon-vk{
	background-position: -650px -5px;
}
.icon-twitter {
    width: 24px;
    height: 18px;
    background-position: -523px -5px;
}
.social_link.twitter:hover .icon-twitter{
	background-position: -557px -5px;
}
.social_link .icon-git {
    width: 29px;
    height: 23px;
    background-position: -226px -5px;
}
.social_link.github:hover .icon-git{
	background-position: -265px -5px;
}
.social_text {
	text-indent: -9999px;
    display: block;
    width: 0;
    height: 0;
}
.wrapper {
	padding-top: 35px;
}
.aside {
	float: left;
	max-width: 250px;
	width: 26.1%;
	margin-right: 6.2%;
}
.sidebar {
	list-style: none;
	margin-bottom: 33px;
}
.sidebar_link {
	text-decoration: none;
	color: #727070;
	padding: 13px 27px 15px;
  	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  	display: block;
	font-weight: 600;
	font-size: 1.25em;
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0 0 3px #f6f7f7, inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
  	border: 1px solid transparent;
  	border-bottom: none;
	background-image: -moz-linear-gradient(top,  #ffffff 0%, #fbf9f9 6%, #e9e6e5 100%), -moz-linear-gradient(top,  #d2d2d2 0%, #b6b6b6 49%, #c5c5c5 100%);
	background-image: -webkit-linear-gradient(top,  #ffffff 0%,#fbf9f9 6%,#e9e6e5 100%), -webkit-linear-gradient(top,  #d2d2d2 0%,#b6b6b6 49%,#c5c5c5 100%);
	background-image: linear-gradient(to bottom,  #ffffff 0%,#fbf9f9 6%,#e9e6e5 100%), linear-gradient(to bottom,  #d2d2d2 0%,#b6b6b6 49%,#c5c5c5 100%);
}
.sidebar_item:first-child .sidebar_link{
	border-radius: 3px 3px 0 0;
}
.sidebar_item:last-child .sidebar_link{
	border-radius: 0 0 3px 3px;
	border-bottom: 1px solid transparent;
}
.sidebar_item:hover .sidebar_link {
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0 0 3px rgba(202,202,202,0.6), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	background-image: -moz-linear-gradient(top,  #e8e7e7 0%, #e3e1e1 13%, #c2c0c0 100%), -moz-linear-gradient(top,  #d2d2d2 0%, #b6b6b6 49%, #c5c5c5 100%);
	background-image: -webkit-linear-gradient(top,  #e8e7e7 0%,#e3e1e1 13%,#c2c0c0 100%), -webkit-linear-gradient(top,  #d2d2d2 0%,#b6b6b6 49%,#c5c5c5 100%);
	background-image: linear-gradient(to bottom,  #e8e7e7 0%,#e3e1e1 13%,#c2c0c0 100%), linear-gradient(to bottom,  #d2d2d2 0%,#b6b6b6 49%,#c5c5c5 100%);
}
.sidebar_item.active .sidebar_link, .sidebar_item.active:hover .sidebar_link{
	cursor: default;
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	background-image: -moz-linear-gradient(top,  #7ee8ce 0%, #3eb799 100%), -moz-linear-gradient(top,  #66dbbe 0%, #41ac91 49%, #2fa185 100%);
	background-image: -webkit-linear-gradient(top,  #7ee8ce 0%,#3eb799 100%), -webkit-linear-gradient(top,  #66dbbe 0%,#41ac91 49%,#2fa185 100%);
	background-image: linear-gradient(to bottom,  #7ee8ce 0%,#3eb799 100%), linear-gradient(to bottom,  #66dbbe 0%,#41ac91 49%,#2fa185 100%);
}
.contact {

}
.contact_title {
	margin: 0;
	padding: 8px 27px;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	border: 1px solid transparent;
  	color: #d0982c;
  	text-shadow: 0 -1px 0 rgba(173,135,56,0.9), 0px 1px 0px rgba(255, 255, 255, 0.4);
  	border-radius: 5px 5px 0 0;
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17), inset 0 0 3px rgba(246,247,247,0.15), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
	background-image: -moz-linear-gradient(top,  #f4cc7e 10%, #dcb15d 100%),  -moz-linear-gradient(top,  #e7bf6f 10%, #cea34e 56%, #caa152 100%);
	background-image: -webkit-linear-gradient(top,  #f4cc7e 10%,#dcb15d 100%),  -webkit-linear-gradient(top,  #e7bf6f 10%,#cea34e 56%,#caa152 100%);
	background-image: linear-gradient(to bottom,  #f4cc7e 10%,#dcb15d 100%),  linear-gradient(to bottom,  #e7bf6f 10%,#cea34e 56%,#caa152 100%);

}
.contact_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.contact_link {
	position: relative;
	padding: 6px 18px 6px;
	text-decoration: none;
	color: #727070;
	display: block;
	background: #fbfbfb;
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #f4f3f2 100%);
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f4f3f2 100%);
	background: linear-gradient(to bottom,  #fbfbfb 0%,#f4f3f2 100%);
	border: 1px solid #d6d5d3;
	border-bottom: none;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}
.contact_link:before, .contact_link:after {
	content: "";
    display: block;
    position: absolute;
    background-color: #dcb15d;
    width: 1px;
    height: 59.2%;
    left: 53px;
}
.contact_link:before {
	top: -2px;
	transform: rotate(-24deg);
}
.contact_link:after {
	bottom: -2px;
	transform: rotate(24deg);
}
.contact_link:hover {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2e7d0 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2e7d0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f2e7d0 100%);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}
.contact_link:hover .contact_text {
	text-decoration: underline;
}
.contact_item:last-child .contact_link {
	border-bottom: 1px solid #d6d5d3;
	border-radius: 0 0 5px 5px;
}
.contact_link .icon{
	vertical-align: middle;
}
.contact_text {
	font-size: 0.88em;
	margin-left: 57px;
}
.main {
	float: left;
	max-width: 650px;
	width: 67.7%;
	min-width: 320px;
}
.main_section {
	margin-bottom: 36px;
	border: 1px solid transparent;
	border-radius: 5px;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	box-shadow: 0px 5px 10px 0px rgba(236, 232, 227, 0.75), inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);
	background-image: -moz-linear-gradient(top,  #f8f7f6 0%, #f0eeed 100%), -moz-linear-gradient(top,  #d2d2d2 0%, #b6b6b6 49%, #c5c5c5 100%);
	background-image: -webkit-linear-gradient(top,  #f8f7f6 0%, #f0eeed 100%), -webkit-linear-gradient(top,  #d2d2d2 0%,#b6b6b6 49%,#c5c5c5 100%);
	background-image: linear-gradient(top,  #f8f7f6 0%, #f0eeed 100%), linear-gradient(to bottom,  #d2d2d2 0%,#b6b6b6 49%,#c5c5c5 100%);
}
.main_title {
	padding: 7px 41px 13px;
    font-weight: 500;
    font-size: 1.56em;
	border-radius: 5px 5px 0 0;
	margin: -1px -1px 0;
	border: 1px solid transparent;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	color: #eeedec;
	background-image: -moz-linear-gradient(top,  #a9a8a8 0%, #7b7878 100%), -moz-linear-gradient(top,  #9c9c9c 0%, #6d6d6d 43%, #636363 100%);
	background-image: -webkit-linear-gradient(top,  #a9a8a8 0%,#7b7878 100%), -webkit-linear-gradient(top,  #9c9c9c 0%,#6d6d6d 43%,#636363 100%);
	background-image: trans, linear-gradient(to bottom,  #9c9c9c 0%,#6d6d6d 43%,#636363 100%);
	text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.7);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
.about {
	padding: 33px 41px;
}
.main_section .about_avatar {
	float: left;
	margin: 5px 35px 0 0px;
}
.about_avatar {
	position: relative;
	border-radius: 50%;
	width: 152px;
    height: 152px;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	border: 1px solid transparent;
	box-shadow: 3.236px 2.351px 26.88px 5.12px rgba(236, 232, 227, 0.75), inset 0px 2px 24px 0px rgba(121, 121, 121, 0.23);
	background-image: -moz-linear-gradient(top,  #f8f7f7 0%, #f4f3f1 100%), -moz-linear-gradient(top,  rgba(210,210,210,0.67) 0%, rgba(182,182,182,0.67) 49%, rgba(197,197,197,0.67) 100%);
	background-image: -webkit-linear-gradient(top,  #f8f7f7 0%,#f4f3f1 100%), -webkit-linear-gradient(top,  rgba(210,210,210,0.67) 0%,rgba(182,182,182,0.67) 49%,rgba(197,197,197,0.67) 100%);
	background-image: linear-gradient(to bottom,  #f8f7f7 0%,#f4f3f1 100%), linear-gradient(to bottom,  rgba(210,210,210,0.67) 0%,rgba(182,182,182,0.67) 49%,rgba(197,197,197,0.67) 100%);
}
.avatar_holder {
	overflow: hidden;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.about_worksheet {
	float: left;
}
.worksheet_list {
	list-style: none;
    margin: 0;
    padding: 0;
}
.worksheet_item {
	font-size: 0.88em;
	margin-bottom: 6px;
}
.worksheet_item:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
}
.worksheet_item.skils {
	margin-top: 16px;
}
.worksheet_what {
	font-weight: 600;
	margin-right: 0.5em;
	float: left;

}
.worksheet_info {
    font-size: 0.99em;
    float: left;
    max-width: 278px;
}
.skills_list {
	float: left;
    max-width: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
    padding-top: 3px;
}
.skill {
    display: inline-block;
    vertical-align: top;
    font-family: "Open Sans", Arial, Helvetica;
    color: #1e7465;
    font-size: 0.67em;
    font-weight: 600;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    border: 1px solid transparent;
    border-left: none;
    background-image: -moz-linear-gradient(top, rgba(251,249,249,1) 0%,rgba(233,230,228,1) 100%), -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(182,182,182,1) 51%, rgba(197,197,197,1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(251,249,249,1) 0%,rgba(233,230,228,1) 100%), -webkit-linear-gradient(top, rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
    background-image: linear-gradient(to bottom, rgba(251,249,249,1) 0%,rgba(233,230,228,1) 100%), linear-gradient(to bottom, rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
    position: relative;
    border-radius: 0 5px 5px 0;
    margin: 0 0 10px 11px;
    padding: 0.11em 0.7em 0.2em 0.9em;
    box-shadow: inset 0 -2px 3px 0 rgba(41,41,41,0.1), inset 0 0 6px 0px #f6f7f7, 2px 3px 5px -1px rgba(9,9,9,0.07);
}
.skill:before {
    box-shadow: inset 0 -2px 3px 0 rgba(41,41,41,0.05), inset 0 0 6px 0px #f6f7f7, 2px 3px 5px -1px rgba(9,9,9,0.07);
	content: "";
    display: block;
    position: absolute;
    transform: rotate(45deg);
    border-left: 1px solid #d2d2d2;
    border-bottom: 1px solid #c5c5c5;
    width: 1.23em;
    top: 0.17em;
    left: -0.64em;
    height: 1.23em;
    background-repeat: no-repeat;
    background-size: 0.3em 1.3em, 1em 0.3em, 0.41em 0.41em, 0.41em 0.41em;
    z-index: -1;
    background-position: 0 0, 100% 100%, 5% 21%, 70% 69%;
    background-image: linear-gradient(186deg, rgba(251,249,249,1) 0%,rgb(242, 240, 239) 100%),linear-gradient(-221deg, rgb(243, 241, 240) 0%,#ECE9E7 100%),linear-gradient(130deg, rgb(247, 244, 244) 0%,#F3F0EF 100%),linear-gradient(42deg, rgb(243, 241, 240) 0%,#ECE9E7 100%);
}
.skill:after {
	content: "";
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: 50%;
    left: -0.35em;
    border: 1px solid #b6b6b6;
    border-radius: 50%;
    transform: translate(0,-50%);
}
.experience_box {
    padding: 20px 48px 28px 42px;
}
.experience_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.experience_item {
	position: relative;
	font-size: 0.877em;
	padding: 25px 0 28px 95px;
}
.experience_item .icon {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
  	border-radius: 50%;
  	background-color: #f7f7f7;
  	width: 53px;
  	height: 54px;
  	background-image: none;
  	background-color: #f7f7f7;
  	box-shadow: inset 1px 1px 1px 0px rgba(199,199,199,0.75), 1px 1px 1px 0px #fff;
    transform: translateY(-50%);
    left: 0;
}
.experience_item .icon:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../image/icon.png);
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.experience_item .icon-job:before {
	width: 22px;
    height: 20px;
    background-position: -5px -5px;
}
.experience_item .icon-school:before {
	width: 22px;
    height: 22px;
    background-position: -434px -5px;
}
.experience_item .icon-graduate:before {
	width: 28px;
    height: 19px;
    background-position: -304px -5px;
}
.experience_item .icon-file:before {
	width: 16px;
    height: 21px;
    background-position: -200px -5px;
}
.experience_item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
	box-shadow: inset 0 1px 2px 0 rgba(128,128,128,0.3), 0 0 2px 1px rgba(251,251,251,1);
}
.experience_item:first-child:before{
	display: none;
}
.where {
    font-weight: 600;
    display: block;
    margin-bottom: 0.15em;
}
.period {
	display: block;
}
.work {
    padding: 38px 6.3%;
}
.work .work_item:nth-child(3n+2) {
	margin: 0 5%;
}
.work_item {
	margin-bottom: 32px;
	display: inline-block;
	vertical-align: top;
	width: 167px;
	text-align: center;	
	background: #fff;
	border-radius: 8px;
	border: 1px solid transparent;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%), -moz-linear-gradient(top,  rgba(144,144,144,1) 0%, rgba(182,182,182,1) 49%, rgba(197,197,197,1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%), -webkit-linear-gradient(top,  rgba(144,144,144,1) 0%,rgba(182,182,182,1) 49%,rgba(197,197,197,1) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%), linear-gradient(to bottom,  rgba(144,144,144,1) 0%,rgba(182,182,182,1) 49%,rgba(197,197,197,1) 100%);

}
.work_image {
	overflow: hidden;
    border-radius: 8px 8px 0 0;
    display: block;
}
.work_image img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.work_title {
	background: rgba(65,64,64,0.07);
	box-shadow: inset 0px -2px 4px 0px rgba(10, 10, 10, 0.05);
	margin: 0;
	font-weight: 600;
    font-size: 0.84em;
}
.work_title .link {
	text-decoration: none;
	color: #727070;
  	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  	padding: 8px 9px 8px 0;
    display: block;
}
.work_description {
    font-size: 0.717em;
    padding: 6px 8px 8px;
    line-height: 1.4em;
}
.work_new {
	text-decoration: none;	
	text-align: center;	
	font-weight: 600;
    font-size: 0.87em;
	width: 167px;
	height: 134px;
	color: #727070;
	position: relative;
	display: inline-block;
	border-radius: 8px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	border: 1px solid transparent;
	padding: 26px 0;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(251,249,249,1) 6%, rgba(237,235,234,1) 100%), -moz-linear-gradient(top,  rgba(144,144,144,1) 0%, rgba(182,182,182,1) 49%, rgba(197,197,197,1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(251,249,249,1) 6%,rgba(237,235,234,1) 100%), -webkit-linear-gradient(top,  rgba(144,144,144,1) 0%,rgba(182,182,182,1) 49%,rgba(197,197,197,1) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(251,249,249,1) 6%,rgba(237,235,234,1) 100%), linear-gradient(to bottom,  rgba(144,144,144,1) 0%,rgba(182,182,182,1) 49%,rgba(197,197,197,1) 100%);
	box-shadow: inset 0 0 3px #f6f7f7, 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}
.work_new .icon {
	content: "";
	display: inline-block;
	position: relative;
  	border-radius: 50%;
  	background-color: #f7f7f7;
  	width: 53px;
  	height: 54px;
  	margin-bottom: 7px;
  	background-image: none;
  	background-color: #f7f7f7;
  	box-shadow: inset 1px 1px 1px 0px rgba(199,199,199,0.75), 1px 1px 1px 0px #fff;
}
.work_new .icon:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../image/icon.png);
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.work_new .icon-img:before {
	width: 21px;
    height: 21px;
    background-position: -342px -5px;
}
.work_new .text {
	display: inline-block;
}
.input, .textarea {
	padding: 0.9em 0.9em 1.2em;
    display: inline-block;
    font-size: 0.7em;
	width: 100%;
	border: 1px solid #d6d5d3;
	border-radius: 3px;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), 0 0 3px rgba(255, 255, 255, 0.15), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
	background: -moz-linear-gradient(top,  rgba(251,252,253,1) 0%, rgba(244,243,243,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(251,252,253,1) 0%,rgba(244,243,243,1) 100%);
	background: linear-gradient(to bottom,  rgba(251,252,253,1) 0%,rgba(244,243,243,1) 100%);
}
.contact_form {
	padding: 31px 18.7%;
}
.form_row {
	display: inline-block;
	margin-bottom: 14px;
}
.form_row.name {
	margin-right: 3.3%;
	width: 47.9%;
}
.form_row.email {
	width: 47.5%;
}
.form_row.message {
	width: 100%;
	margin-bottom: 8px;
}
.form_label {
	display: block;
    font-size: 0.88em;
    margin: 0 0 7px;
}
.input_holder {
	position: relative;
}
.form_error {
	display: none;
}
.message_textarea {
	resize: none;
	height: 183px;
}
.form_row.captcha {
	width: 100%;
	margin-bottom: 27px;
}
.form_row.captcha .input_holder{
	display: inline-block;
	vertical-align: top;
	width: 47.3%;
    margin-top: 21px;
}
.text_input.captcha {
    padding: 0.5em 0.8em 0.8em;
}
.captcha_holder {
	border: 1px solid #d6d4d3;
	border-radius: 4px;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
	overflow: hidden;
	display: inline-block;
    margin-right: 4.3%;
}
.captcha_holder img {
	vertical-align: top;
}
.form_btn {
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	border: 1px solid transparent;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	padding: 0.55em 1.6em 0.7em;
    font-size: 0.88em;
    font-weight: 600;
}
.form_btn.grean {
	color: #1e7465;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	background-image: -moz-linear-gradient(top,  rgba(128,232,203,1) 0%, rgba(67,183,150,1) 100%), -moz-linear-gradient(top,  rgba(106,219,188,1) 0%, rgba(68,172,143,1) 51%, rgba(51,161,130,1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(128,232,203,1) 0%,rgba(67,183,150,1) 100%), -webkit-linear-gradient(top,  rgba(106,219,188,1) 0%,rgba(68,172,143,1) 51%,rgba(51,161,130,1) 100%);
	background-image: linear-gradient(to bottom,  rgba(128,232,203,1) 0%,rgba(67,183,150,1) 100%), linear-gradient(to bottom,  rgba(106,219,188,1) 0%,rgba(68,172,143,1) 51%,rgba(51,161,130,1) 100%);
}
.form_btn.grean:hover {
	color: #467366;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
 	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	background-image: -moz-linear-gradient(top,  rgba(144,219,189,1) 0%, rgba(101,159,135,1) 100%), -moz-linear-gradient(top,  rgba(136,209,179,1) 1%, rgba(93,152,126,1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(144,219,189,1) 0%,rgba(101,159,135,1) 100%), -webkit-linear-gradient(top,  rgba(136,209,179,1) 1%,rgba(93,152,126,1) 100%);
	background-image: linear-gradient(to bottom,  rgba(144,219,189,1) 0%,rgba(101,159,135,1) 100%), linear-gradient(to bottom,  rgba(136,209,179,1) 1%,rgba(93,152,126,1) 100%);
}
.form_btn.grean:focus {
	color: #eeedec;
	outline: none;
	text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
  	box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	background-image: -moz-linear-gradient(top,  rgba(121,187,160,1) 0%, rgba(73,117,99,1) 100%), -moz-linear-gradient(top,  rgba(136,209,179,1) 0%, rgba(93,152,126,1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(121,187,160,1) 0%,rgba(73,117,99,1) 100%), -webkit-linear-gradient(top,  rgba(136,209,179,1) 0%,rgba(93,152,126,1) 100%);
	background-image: linear-gradient(to bottom,  rgba(121,187,160,1) 0%,rgba(73,117,99,1) 100%), linear-gradient(to bottom,  rgba(136,209,179,1) 0%,rgba(93,152,126,1) 100%);
}
.contact_form .form_btn.white{
    margin-left: 15.4%;
}
.form_btn.white {
	padding: 0.55em 1.8em 0.7em;
  	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.07), inset 0 0 3px 0 #f6f7f7, inset 0px -2px 3px 0px rgba(45, 45, 45, 0.05);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(251,249,249,1) 6%, rgba(233,230,228,1) 100%),  -moz-linear-gradient(top,  rgba(210,210,210,1) 0%, rgba(182,182,182,1) 51%, rgba(197,197,197,1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(251,249,249,1) 6%,rgba(233,230,228,1) 100%),  -webkit-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(251,249,249,1) 6%,rgba(233,230,228,1) 100%),  linear-gradient(to bottom,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
}
.form_btn.white:hover {
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	background-image: -moz-linear-gradient(top,  rgba(232,231,231,1) 0%, rgba(227,225,225,1) 13%, rgba(194,192,192,1) 100%), -moz-linear-gradient(top,  rgba(210,210,210,1) 0%, rgba(182,182,182,1) 51%, rgba(197,197,197,1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(232,231,231,1) 0%,rgba(227,225,225,1) 13%,rgba(194,192,192,1) 100%), -webkit-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
	background-image: linear-gradient(to bottom,  rgba(232,231,231,1) 0%,rgba(227,225,225,1) 13%,rgba(194,192,192,1) 100%), linear-gradient(to bottom,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
  	box-shadow: inset 0 0 3px rgba(202,202,202,0.62), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}
.form_btn.white:focus {
	color: #eeedec;
	text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
  	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  	outline: none;
	background-image: -moz-linear-gradient(top,  rgba(169,168,168,1) 0%, rgba(123,120,120,1) 100%), -moz-linear-gradient(top,  rgba(156,156,156,1) 0%, rgba(109,109,109,1) 43%, rgba(99,99,99,1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(169,168,168,1) 0%,rgba(123,120,120,1) 100%), -webkit-linear-gradient(top,  rgba(156,156,156,1) 0%,rgba(109,109,109,1) 43%,rgba(99,99,99,1) 100%);
	background-image: linear-gradient(to bottom,  rgba(169,168,168,1) 0%,rgba(123,120,120,1) 100%), linear-gradient(to bottom,  rgba(156,156,156,1) 0%,rgba(109,109,109,1) 43%,rgba(99,99,99,1) 100%);
}
.page.login_page {

	background-size: 100% 100%;
	position: relative;
}
.login_holder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.login_title {
	font-size: 0.71em;
    padding: 0 2em;
    display: block;
    margin-bottom: 4px;
}
.login_form {
    padding: 39px 11.6% 17px 11.3%;
	height: 281px;
	width: 332px;
	border-radius: 5px;
	box-shadow: 0px 11px 23px -10px rgba(159, 159, 159, 1), inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);
	border: 1px solid transparent;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	background-image: -moz-linear-gradient(top,  rgba(248,247,246,1) 0%, rgba(240,238,237,1) 100%), -moz-linear-gradient(top,  rgba(210,210,210,1) 0%, rgba(182,182,182,1) 51%, rgba(197,197,197,1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(248,247,246,1) 0%,rgba(240,238,237,1) 100%), -webkit-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
	background-image: linear-gradient(to bottom,  rgba(248,247,246,1) 0%,rgba(240,238,237,1) 100%), linear-gradient(to bottom,  rgba(210,210,210,1) 0%,rgba(182,182,182,1) 51%,rgba(197,197,197,1) 100%);
}
.login_form .icon {
	position: absolute;
	top: 55%;
    left: 5.6%;
    transform: translate(0,-50%);
}
.login_form .form_row.login_password {
	margin-bottom: 18px;
}
.login_form .input_holder.arrow:before, .login_form .input_holder.arrow:after {
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	background-color: #d6d5d3;
	height: 56%;
	left: 19.4%;
}
.login_form .input_holder.arrow:before {
	top: -1px;
	transform: rotate(-26deg);
}
.login_form .input_holder.arrow:after {
	bottom: -1px;
	transform: rotate(26deg);
}
.login_form .input {
	padding-left: 28%;
}
.login_form .form_row{
	width: 100%;
    margin-bottom: 25px;
}
.login_form .login_remember {
	margin-bottom: 10px;
}
.login_remember .input_holder {
	display: inline-block;
	vertical-align: top;
}
.login_remember .form_label {
	display: inline-block;
	vertical-align: top;
}
.form_row.btn_row {
	text-align: center;
}
.login_form .form_btn {
	width: 150px;
}
.checkbox_input {
	display: none;
}
.checkbox_input + label {
	cursor: pointer;
	display: inline-block;
	width: 22px;
    height: 22px;
    text-indent: -9999px;
    background-image: url(../image/icon.png);
    background-position: -37px -5px;
}
.checkbox_input:checked + label {
	background-position: -69px -5px;
}

.footer {
	position: relative;
	height: 60px;
	background: #fff;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
	border-top: 1px solid rgba(0,0,0,0.1);
}
.footer .holder {
	position: relative;
	padding-top: 22px;
}
.login {
	position: absolute;
	display: block;
	color: #9c9c9c;
	text-decoration: none;
  	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
 	top: 18px;
    left: 166px;
    padding-left: 26px;
    font-size: 0.95em;
    font-weight: 600;

}
.login:before {
	position: absolute;
	content: "";
	left: 0;
	width: 19px;
    height: 22px;
    background-position: -405px -5px;
    display: block;
    background-image: url(../image/icon.png);
}
.login:hover:before {
	width: 24px;
    height: 22px;
    background-position: -591px -5px;
}
.copyright {
	text-align: center;
    font-size: 0.74em;
}